*{
	margin: 0;
	padding: 0;
}

body{
	background: #e6e6e6;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 1em
	
}

#cabecalho{
	background: #f7b600;
	padding: 10px;

}

#logo{
	text-align: center;
	
}

#menu{
	margin-top: 15px;
	
}

.branco{
	color: white;
}

a{
	text-decoration: none;
	

}

a:link, a:visited{
color: #f7b600;

}

a:hover{
	text-decoration: underline; ;
	
}


#menu a:link, #menu a:visited{
color: #FFF;
padding: 8px 12px;
}

#menu a:hover{
	background-color: white; /*cor do background*/
	color: #f7b600; /*cor da letra*/
	padding: 10px; /*espaçamento da letra com o background*/
	text-decoration: none; /*tirar o underline padrão*/
}

#logo, #menu{
	padding: 10px;
}

#area-principal{
	width: 920px; /*da ponta branca da postagem ate a ponta da area lateral*/
	margin: 0 auto;
	
}

#area-postagem{
	width: 660px;
	background: white;
	padding: 10px;
	margin-top: 15px;
	float: left;
	margin-bottom: 20px;
}

#area-lateral{
	margin-top: 15px;
	 width: 220px;
    float: right;

}

#rodape{
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;

}

.conteudo-lateral{
	background: white;
    padding:10px;
    margin-bottom:20px; 

}

.postagem-lateral{
	font-size:0.8em;
    padding: 5px;
    border-bottom:1px dotted #CCC;

}

.postagem{
	padding: 20px;
    margin-bottom:20px;
    background: white;

}

h1{
	font-size: 2.5em;
	color: #4e4e4e;
}

h2{
	margin-top: 10px;
	color: #f7b600; 
}

h3{
	background: #CCC;
	padding: 5px;
}

img{
	margin-top: 10px;
}

